.form {
    margin-left: 300px;
    max-width: 400px;
    align-self: center;
    color: #aba194;
    display: inline-block;
}

.form-heading {
    color: #aba194;
}

h4, h5 {
    color: #aba194; 
}

.form-brag {
    float: right;
    max-width: 300px;
    margin-right: 200px;
}

.form-container {
    background-color: pink;
    padding-top: 7px;
}

html {
    background-color: pink;
}

@media screen and (max-width: 480px) {    
}
 

